pkgbase = wioenena-test
	pkgdesc = This package for testing!
	pkgver = 1.4
	pkgrel = 1
	url = https://wioenena.com
	arch = x86_64
	license = GPL
	source = wioenena-test
	sha256sums = 992e80a48e18c065997a4bfd871f79fd6cea5d83fbeb7ecce96159c2bcc89f30

pkgname = wioenena-test
